<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Grabacr07.KanColleViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    
        
    
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Grabacr07.KanColleViewer.Properties.Settings>
            <setting name="KanColleUrl" serializeAs="String">
                <value>https://www.dmm.com/my/-/login/=/path=Sg9VTQFXDFdnFh5TUlgFWA0JUxk_</value>
            </setting>
            <setting name="UIContentHight" serializeAs="String">
                <value>333</value>
            </setting>
            <setting name="FeatureBrowserEmulation" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="TagNoTouchAction" serializeAs="String">
                <value>&lt;style type="text/css"&gt;html { touch-action: none; }&lt;/style&gt;</value>
            </setting>
            <setting name="KanColleGamePage" serializeAs="String">
                <value>http://www.dmm.com/netgame/social/-/gadgets/=/app_id=854854/</value>
            </setting>
            <setting name="TagQualityShim" serializeAs="String">
                <value>&lt;script type="text/javascript"&gt;(function(quality, wmode) {{
  var origEmbedFlash = window.gadgets.flash.embedFlash;
  gadgets.flash.embedFlash = function(url, container, version, params) {{
    if(typeof(params) == "undefined") params = {{}};
    if(quality.toLowerCase() != "default") params.quality = quality;
    if(wmode.toLowerCase() != "default") params.wmode = wmode;
    origEmbedFlash(url, container, version, params);
  }};
}})("{0}", "{1}");&lt;/script&gt;</value>
            </setting>
            <setting name="TagOverrideStylesheet" serializeAs="String">
                <value>&lt;style type="text/css"&gt;
body {
  margin:0;
  overflow:hidden;
}

#ntg-recommend {
  display: none !important;
}

#game_frame {
  position:fixed;
  left:50%;
  top:-16px;
  margin-left:-450px;
  z-index:1;
}
&lt;/style&gt;</value>
            </setting>
        </Grabacr07.KanColleViewer.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FiddlerCore4" publicKeyToken="67cb91587178ac5a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.1.0" newVersion="4.5.1.0" />
      </dependentAssembly>
      <probing privatePath="lib"/>
    </assemblyBinding>
  </runtime>
</configuration>
